<%- include('./partials/header') %>
<div class="container">
    <div class="form-row buttons">
        <div class="col">
            <form action='/download' method="GET">
                <button type="submit" id="download" class="btn btn-primary">Get CSV File</button>
            </form>
        </div>
        <div class="col">
            <button type="button" id="start-over" class="btn btn-primary start-over"><a href="/">Start Over</a></button>
        </div>
    </div>
    <h2 id="summary">Generated <%=paragraphs.length %> posts from your blog!</h2>
    <div>
        <ul>
            <% paragraphs.forEach(function(paragraph){%>
            <div class="panel">
                <li><%=paragraph%> <a href="<%=paragraph.url%>"><%=paragraph.url%></a></li>
            </div>
            <%})%>
        </ul>
    </div>
    <div class="form-row buttons">
        <div class="col">
            <form action='/download' method="GET">
                <button type="submit" id="download" class="btn btn-primary">Download CSV File</button>
            </form>
        </div>
        <div class="col">
            <button type="button" id="start-over" class="btn btn-primary start-over"><a href="/">Start Over</a></button>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>